@charset "utf-8";
* {
	box-sizing:border-box;
}
html, body {
  margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}

#menu {
	position:fixed;
	margin:0;
	height:100%;
	background-color:#9bcc60;
}
#logo {
	border-radius: 50%;
	border:3px solid #749F40;
	width:155px;
	height:155px;
	background-color:#fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#logo div {
	border-radius: 50%;
	border:5px solid #453326;
	width:150px;
	height:150px;
	background-color:#fff;
	margin: auto;
}
#logo div img {
	display: block;
	margin: auto;
}
#txtLogo {
	font-family: "Fredericka the Great", cursive;
	color: #453326;
	font-size: 70px;
	text-align: center;
}
#txt {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#cadre {
	margin-left:25%;
	width:75%;
}
